html {
	background-color: white;
}



.container {
	width: 1000px;
	margin: 0 auto;
}

.wrapper {
	width: 960px;
	margin: 10px auto;
}

.box {
	float: left;
	background: #ffffff;
	border: 1px solid black;
}

h1 {
	text-align: center;
}

button {
	margin-left: 20px;
	padding: 10px;
}