html {
	background-color: white;
}

body {
	background-color: #c3c4bc;
}

.container {
	width: 1000px;
	margin: 0 auto;
	background-color: #c3c4bc;
}

.wrapper {
	width: 960px;
	margin: 10px;
}

.box {
	float: left;
	background: #ffffff;
	border: 1px solid black;
}